[Desktop Entry]
Encoding=UTF-8
Name=MQTT-Hyperdash
Name[de]=MQTT-Hyperdash
GenericName=The MQTT Dashboard
GenericName[de]=Das MQTT Dashboard
Comment=MQTT Dashboard
Exec=hyperdash main.dash
Icon=hyperdash
Terminal=false
Type=Application
StartupNotify=false
Categories=Application;Development;
MimeType=application/dash;
TryExec=hyperdash
NoDisplay=false
